<header>
  <nav>
    <a class="btn menu-button" th:href="@{clients}">Клиенты</a>
    <a class="btn menu-button" th:href="@{departments}">Отделы</a>
    <a class="btn menu-button" th:href="@{employees}">Работники</a>
    <a class="btn menu-button" th:href="@{protokols}">Протоколы</a>
    <a class="btn menu-button" th:href="@{researches}">Исследования</a>
    <a class="btn menu-button" th:href="@{research_requests}">Заявки на исследования</a>
    <a class="btn menu-button" th:href="@{research_types}">Типы исследований</a>
    <a class="btn menu-button" th:href="@{samples}">Образцы</a>
  </nav>
</header>