<header>
  <div class = "header-wrapper">
    <div class="header-content-wrapper">

      <div class="info-wrapper">
        <div class="body-media">
          <h3>Министерство сельского хозяйства Российской Федерации</h3>
          <h3>Федеральная служба по ветеринарному и фитосанитарному надзору (РОССЕЛЬХОЗНАДЗОР)</h3>
        </div>
      </div>
      <div class="header-content">
        <div class="header-content-info">
          <div class="logo"></div>
          <div>
            <h2>Федеральное государственное бюджетное учреждение</h2>
            <h3>Национальный центр безопасности продукции водного промысла и аквакультуры</h3>
          </div>

        </div>
        <div class="contacts-container">
          <div class="phone-contacts">
            <a href="tel:+74957426113" rel="nofollow"><span style="color: #8ABAD0FF;">+7 (495) </span> 742-61-13</a>
            <a href="tel:+74957426113" rel="nofollow"><span style="color: #8ABAD0FF;">+7 (977) </span> 700-69-91</a>
          </div>
          <div class="social-references">
            <a href="https://vk.com/fishquality" target="_blank"><img alt="vk" th:src="@{/img/vk.png}"></a>
            <a href="https://t.me/+dSFYUBhPj1BiMzNi" target="_blank"><img alt="telegram" th:src="@{/img/telegram.png}"></a>
            <a href="https://rutube.ru/channel/25137349/" target="_blank"><img alt="rutube" th:src="@{/img/rutube2.png}"></a>
            <a href="#" target="_blank"><img alt="rss" th:src="@{/img/rss.png}"></a>
          </div>
        </div>

      </div>
    </div>




  </div>
  <nav>
    <a class="btn menu-button" th:href="@{/}">Главная</a>
    <a class="btn menu-button" th:href="@{clients}">Клиенты</a>
    <a class="btn menu-button" th:href="@{departments}">Отделы</a>
    <a class="btn menu-button" th:href="@{employees}">Работники</a>
    <a class="btn menu-button" th:href="@{protocols}">Протоколы</a>
    <a class="btn menu-button" th:href="@{researches}">Исследования</a>
    <a class="btn menu-button" th:href="@{research-requests}">Заявки на исследования</a>
    <a class="btn menu-button" th:href="@{research-types}">Типы исследований</a>
    <a class="btn menu-button" th:href="@{samples}">Образцы</a>
  </nav>
</header>