<div class="form-popup">
  <h1> Добавление работника </h1>
  <form th:action="@{/employees}" method="post">
    <label>ФИО:</label>
    <input type="text" name="name" required><br>

    <label>Должность:</label>
    <input type="text" name="jobTitle" required><br>

    <label>Отдел:</label>
    <input type="text" hidden name="depId" class="empDepId"><br>
    <select class="input-field custom-select selector no-shadow" >
      <th:block  th:each="department : ${departments}" >
        <option th:value="${department.id}" th:text="${department.id} +': '+ ${department.name}"></option>
      </th:block>
    </select>


    <button class="btn" type="submit">Сохранить</button>
    <button class="btn red-btn" onclick="closeAddForm()">Закрыть</button>

  </form>
</div>