<div class="form-popup">
  <h1> Добавление исследования</h1>
  <form th:action="@{/research-types}" method="post">

    <label>Тип исследования:</label>
    <input type="text" name="type" required><br>

    <label>Отдел:</label>
    <input type="text" name="departmentId" class="hidden-value-departmentId" hidden>
    <select class="input-field custom-select selector no-shadow">
      <th:block  th:each="department : ${departments}" >
        <option th:value="${department.id}" th:text="${department.id} +': '+ ${department.name}"></option>
      </th:block>
    </select>
    <br>

    <button class="btn" type="submit">Сохранить</button>
    <button class="btn red-btn" onclick="closeAddForm()">Закрыть</button>

  </form>
</div>