*{
    box-sizing: border-box;
    position: relative;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.add-client{
    margin-bottom: 20px;
}
th, td {
    text-align: left;
    padding: 8px;
    font-family: Arial;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #4CAF50;
    color: white;
}
.btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover {
    background-color: #45a049;
}

/*Стили формы*/

.form-popup {
    padding: 100px;

}
.form-popup label{
    color: #eeeeee;
}
form{
    width: 100%;
}
.form-popup input{
    width:100%;
    padding:10px;
    margin: 10px;
    border:0;
    border-bottom:1px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.form-popup-wrapper h1{
    color: #eeeeee;
    font-size: 24px;
    text-align: center;

}
.form-popup-wrapper{
    display: none;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: grey;
}
