

*{
    box-sizing: border-box;
    position: relative;
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.add-entity{
    margin-bottom: 20px;
}
.menu-button{
    margin: 10px;
}

nav *{
    align-self: center;
}

tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #4CAF50;
    color: white;
}
.btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}
.btn:hover {
    background-color: #45a049;
}

/*Стили формы*/

.form-popup {
    padding: 25px;
    background-color: #eeeeee;
    width: 50%;
    left: 25%;
    top: 25%;
}
.form-popup label{
    color: #262525;
}
form{
    width: 100%;
}
.form-popup input{
    width:100%;
    padding:10px;
    margin: 10px;
    border:0;
    border-bottom:1px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.form-popup h1{
    color: #262525;
    font-size: 24px;
    text-align: center;
}
.form-popup-wrapper{
    display: none;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
}
.delete-button{
    display: inline;
}
.input-field{
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
    border: #a2a2a2;
    box-shadow: 0px 0px 20px 10px #acf8a3;
    margin: 5px 10px;
}
.input-field:disabled{
    box-shadow: 0px 0px 20px 10px rgba(154, 154, 154, 0.6);
}
.input-field{

}
.submit-button:disabled, .change-button:disabled{
    display: none;
}
.change-button{
    background-color: #a9a16a;
}

.editable-block{
    display: inline;
    flex-direction: row;
    margin: 10px;
}
.editable-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-header, .table-row {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr);
    grid-row-gap: 20px;
    margin-bottom: 15px;
    align-items: center;
}

.table-header h2{
    margin: 10px 20px;
}
.id{
    text-align: center;
    font-size: 20px;
}
.table-row:nth-child(even){background-color: #f1f1f1
}
.no-shadow{
    box-shadow: none;
}





/*HEADER_STYLE*/


.header-wrapper{
    background: no-repeat url("img/header_map.svg"), no-repeat url("img/header_flag.svg"), linear-gradient(#1370b9, #7fc6e8);
    background-position: left bottom, right bottom, 0 0;
}
@media (max-width: 1400px) {
    .header-wrapper {
        background: linear-gradient(#1370b9, #7fc6e8);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
}
.header-content-wrapper{
    max-width: 960px;
    margin: auto;
}
.body-media{
    color: #eeeeee;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-media h3{
    margin: 5px;
}
header .btn{
    background-color: #0f5488;
}
.logo{
    background:  url("img/logo_svg.svg");
    min-width: 70px;
    min-height: 70px;
    margin-right: 20px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;

}
.header-content-info h2,h3{
    margin: 0;
    color: #eeeeee;
}
.contacts-container{
    display: flex;
    flex-direction: column;
    min-width: 165px;

}
.phone-contacts{
    display: flex;
    flex-direction: column;
}
.phone-contacts a{
    text-decoration: none;
    color: #eeeeee;
    font-size: 18px;
    margin: 5px;
}
nav{
    margin: 30px 10px;
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
}