<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        lang="ru">
<head>
    <title>Список клиентов</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
</head>
<body>
<div th:insert="fragments/header :: header">    </div>
<h1>Список клиентов</h1>
<div class="add-client"><a class="btn" onclick="openForm()">Добавить пользователя</a></div>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Компания</th>
            <th>Действие</th>
        </tr>
        <th:block th:each="client : ${clients}">
            <tr>
                <td th:text="${client.id}"></td>
                <td th:text="${client.name}"></td>
                <td th:text="${client.company}"></td>
                <td>
                    <a th:href="@{/clients/editClient/{id}(id = ${client.id})}" class="btn">Изменить</a>
                    <form class="delete-button" th:action="@{/clients/deleteClient/{id}(id=${client.id})}">
                        <button type="submit" class="btn">Удалить</button>
                    </form>
                </td>
            </tr>
        </th:block>
    </table>
</div>
<div class="form-popup-wrapper" id="add-client-form" >
    <div th:insert="fragments/add-client-popup"></div>
<!--    TODO: перенести popup в фрагменты-->

</div>

</body>
<script type="text/javascript">
    function openForm() {
        document.getElementById("add-client-form").style.display = "block";
    }

    function closeForm() {
        document.getElementById("add-client-form").style.display = "none";
    }
</script>
</html>