<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Клиенты</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
</head>
<body>
<div th:insert="~{fragments/general/header :: header}"></div>
<div class="search-bar" th:insert="~{fragments/general/searchbar}"></div>
<h1>Список клиентов</h1>
<div class="add-entity"><a class="btn" onclick="openAddClientForm()">Добавить пользователя</a></div>
<div class="table-header">
    <h2>ID</h2>
    <h2>ФИО</h2>
    <h2>Компания</h2>
    <h2>Действие</h2>
</div>
<th:block th:each="client : ${clients}">
    <form class="table-row" th:id="'client-form-' + ${client.id}" th:action="@{/clients/editClient/{id}(id=${client.id})}" method="post">
        <div class="id" th:text="${client.id}"></div>
        <input type="text" disabled required name="name"  class="input-field" th:value="${client.name}">
        <input type="text" disabled required name="company" class="input-field" th:value="${client.company}">
        <div class="actions">
            <button type="button" class="btn change-button" onclick="enableEditForm(event)" th:text="Изменить"></button>
            <button type="submit" disabled class="btn submit-button" th:text="Сохранить"></button>
            <button formmethod="get" th:formaction="@{/clients/deleteClient/{id}(id=${client.id})}" type="submit"
                    class="btn">Удалить
            </button>
        </div>
    </form>

</th:block>

<div id="add-client-form" class="form-popup-wrapper"
     th:insert="~{fragments/pop-ups/add-client-popup}"></div>

</body>
<script type="text/javascript">
    function openAddClientForm() {
        document.getElementById("add-client-form").style.display = "block";
    }
    function enableEditForm(event){
        let form = event.target.closest('form');
        let dataArr = form.getElementsByClassName('input-field');
        for (let data of dataArr) {
            data.removeAttribute('disabled');
        }

        let submitButton = form.querySelector('.submit-button');
        submitButton.removeAttribute('disabled');

        let changeButton = form.querySelector('.change-button');
        changeButton.setAttribute('disabled', 'true');

    }

</script>
</html>