<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Client</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>

</head>
<body>
<form class="form-popup" action="/editClient" method="post">
    <h1>Изменить клиента</h1>
    <input type="hidden" name="id" th:value="${client.id}">
    <div>
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required th:value="${client.name}">
    </div>
    <div>
        <label for="company">Description:</label>
        <input type="text" id="company" name="company" required th:value="${client.company}"></input>
    </div>
    <button type="submit" class="btn">Сохранить</button>
</form>
</body>
</html>