<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Client</title>
</head>
<body>
<h1 >Edit task</h1>
<form action="/editClient" method="post">
    <input type="hidden" name="id" th:value="${client.id}">
    <div>
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required th:value="${client.name}">
    </div>
    <div>
        <label for="company">Description:</label>
        <textarea id="company" name="company" required th:text="${client.company}"></textarea>
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>