<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Работники</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
</head>
<body>
<div th:insert="~{fragments/general/header :: header}"></div>
<div class="search-bar">
    <form method="get">
        <label for="searchQuery" th:text="Поиск"></label>
        <input type="text" name="searchQuery" id="searchQuery">
        <button type="submit" class="btn">Поиск</button>
    </form>
</div>
<h1>Список работников</h1>
<div class="add-entity"><a class="btn" onclick="openAddEmployeeForm()">Добавить пользователя</a></div>
<div class="table-header">
    <h2>ID</h2>
    <h2>ФИО</h2>
    <h2>Должность</h2>
    <h2>Отдел</h2>
</div>
<th:block th:each="employee : ${employees}">
    <form class="table-row" th:id="'employee-form-' + ${employee.id}" th:action="@{/employee/editEmployee/{id}(id=${employee.id})}" method="post">
        <div class="id" th:text="${employee.id}"></div>
        <input type="text" readonly="true" required name="name"  class="input-field" th:value="${employee.name}">
        <input type="text" readonly="true" required name="job-title" class="input-field" th:value="${employee.jobTitle}">
        <input type="text" readonly="true" required name="department" class="input-field" th:value="${employee.depId}">
        <div class="actions">
            <button type="button" class="btn change-button" onclick="enableEditForm(event)" th:text="Изменить"></button>
            <button type="submit" disabled class="btn submit-button" th:text="Сохранить"></button>
            <button formmethod="get" th:formaction="@{/employees/deleteEmployee/{id}(id=${employee.id})}" type="submit"
                    class="btn">Удалить
            </button>
        </div>
    </form>

</th:block>

<div id="add-employee-form" class="form-popup-wrapper"
     th:insert="~{fragments/pop-ups/add-employee-popup}"></div>

</body>
<script type="text/javascript">
    function openAddEmployeeForm() {
        document.getElementById("add-employee-form").style.display = "block";
    }
    function enableEditForm(event){
        let form = event.target.closest('form');
        let dataArr = form.getElementsByClassName('input-field');
        for (let data of dataArr) {
            data.removeAttribute('readonly');
        }

        let submitButton = form.querySelector('.submit-button');
        submitButton.removeAttribute('disabled');

        let changeButton = form.querySelector('.change-button');
        changeButton.setAttribute('disabled', 'true');

    }

</script>
</html>