<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Работники</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
</head>
<body>
<div th:replace="~{fragments/general/header :: header}"></div>
<div class="search-bar" th:insert="~{fragments/general/searchbar}"></div>
<h1>Список работников</h1>
<div class="add-entity"><a class="btn" onclick="openAddForm()">Добавить пользователя</a></div>
<div class="table-header">
    <h2>ID</h2>
    <h2>ФИО</h2>
    <h2>Должность</h2>
    <h2>Отдел</h2>
</div>
<th:block th:each="employee : ${employees}">
    <form class="table-row" th:id="'employee-form-' + ${employee.id}" th:action="@{/employees/editEmployee/{id}(id=${employee.id})}" method="post">
        <div class="id" th:text="${employee.id}"></div>
        <input type="text" disabled required name="name"  class="input-field" th:value="${employee.name}">
        <input type="text" disabled required name="jobTitle" class="input-field" th:value="${employee.jobTitle}">
        <input type="text" hidden disabled required name="depId"  class="input-field empDepId" th:value="${employee.depId}">
        <select class="input-field custom-select selector"  disabled >
            <th:block  th:each="department : ${departments}" >
                <option th:selected="${department.id == employee.depId}? 'true' : 'false'" th:value="${department.id}" th:text="${department.id} +': '+ ${department.name}"></option>
            </th:block>
        </select>

        <div class="actions">
            <button type="button" class="btn change-button" onclick="enableEditForm(event)" th:text="Изменить"></button>
            <button type="submit" disabled class="btn submit-button" th:text="Сохранить"></button>
            <button formmethod="get" th:formaction="@{/employees/deleteEmployee/{id}(id=${employee.id})}" type="submit"
                    class="btn">Удалить
            </button>
        </div>
    </form>

</th:block>

<div id="add-employee-form" class="form-popup-wrapper"
     th:insert="~{fragments/pop-ups/add-employee-popup}"></div>

</body>
<script type="text/javascript">
    function openAddForm() {
        document.getElementById("add-employee-form").style.display = "block";
    }
    function closeAddForm() {
        document.getElementById("add-employee-form").style.display = "none";
    }
    function enableEditForm(event){
        let form = event.target.closest('form');
        let dataArr = form.getElementsByClassName('input-field');
        for (let data of dataArr) {
            data.removeAttribute('disabled');
        }

        let submitButton = form.querySelector('.submit-button');
        submitButton.removeAttribute('disabled');

        let changeButton = form.querySelector('.change-button');
        changeButton.setAttribute('disabled', 'true');
    }

    selector = document.getElementsByClassName("selector");
    for (const selectedSelector of selector) {
        selectedSelector.addEventListener("change", () =>{
            const selectedInSelector = selectedSelector.options[selectedSelector.selectedIndex];
            let empDepId = selectedInSelector.parentElement.parentElement.querySelector(".empDepId");
            console.log(empDepId);
            console.log(empDepId.value);
            empDepId.value = selectedInSelector.value;

            if (!selectedSelector.options[selectedSelector.selectedIndex].selected){
                selectedSelector.options[selectedSelector.selectedIndex].selected = true;
            }
        });
    }

</script>
</html>