<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>

</head>
<body>
    <div th:insert="~{fragments/general/header :: header}"></div>
    <h1>Это главная страница</h1>
    <h2>Здесь пока ничего нет</h2>
    <h3 style="color: #1a1a1a">Воспользуйтесь меню выше, чтобы получить доступ к страницам ресурса</h3>
</body>
</html>