<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Log-in</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/login-style.css}"/>

</head>
<body>
    <div class="login-page">
        <div class="header"><h1>Вход в ИС ФГБУ НЦБРП</h1></div>

        <div class="form">
            <div th:if="${param.error}">
                Invalid username and password.</div>
            <div th:if="${param.logout}">
                You have been logged out.</div>
            <form class="login-form" th:action="@{/login}" method="post">
                <input type="text" name="username" placeholder="Пользователь"/>
                <input type="password" name="password" placeholder="Пароль"/>
                <button>Войти</button>
            </form>
        </div>
    </div>
</form>
</body>
</html>