<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Протоколы</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
</head>
<body>
<div th:insert="~{fragments/general/header :: header}"></div>
<div class="search-bar" th:insert="~{fragments/general/searchbar}"></div>
<h1>Список протоколов</h1>
<div class="add-entity"><a class="btn" onclick="openAddForm()">Добавить протокол</a></div>
<div class="table-header">
    <h2>ID</h2>
    <h2>Клиент</h2>
    <h2>Дата оформления</h2>
    <h2>Работник</h2>
</div>
<th:block th:each="protocol : ${protocols}">
    <form class="table-row" th:id="'employee-form-' + ${protocol.id}" th:action="@{/protocols/editProtocol/{id}(id=${protocol.id})}" method="post">
        <div class="id" th:text="${protocol.id}"></div>
        <input type="text" hidden required name="clientId"  class="input-field hidden-value-client" th:value="${protocol.clientId}">
        <select class="input-field custom-select selector-client"  disabled >
            <th:block  th:each="client : ${clients}" >
                <option th:selected="${client.id == protocol.clientId}? 'true' : 'false'" th:value="${client.id}" th:text="${client.id} +': '+ ${client.name}"></option>
            </th:block>
        </select>
        <input type="date" disabled required name="date" class="input-field" th:value="${protocol.date}">
        <input type="text" hidden required name="employeeId" class="input-field hidden-value-employee" th:value="${protocol.employeeId}">
        <select class="input-field custom-select selector-employee"  disabled >
            <th:block  th:each="employee : ${employees}" >
                <option th:selected="${employee.id == protocol.employeeId}? 'true' : 'false'" th:value="${employee.id}" th:text="${employee.id} +': '+ ${employee.name}"></option>
            </th:block>
        </select>
        <div class="actions">
            <button type="button" class="btn change-button" onclick="enableEditForm(event)" th:text="Изменить"></button>
            <button type="submit" disabled class="btn submit-button" th:text="Сохранить"></button>
            <button formmethod="get" th:formaction="@{/protocols/deleteProtocol/{id}(id=${protocol.id})}" type="submit"
                    class="btn">Удалить
            </button>
        </div>
    </form>

</th:block>

<div id="add-protocol-form" class="form-popup-wrapper"
     th:insert="~{fragments/pop-ups/add-protocol-popup}"></div>

</body>
<script type="text/javascript">
    function openAddForm() {
        document.getElementById("add-protocol-form").style.display = "block";
    }
    function closeAddForm() {
        document.getElementById("add-protocol-form").style.display = "none";
    }

    function enableEditForm(event){
        let form = event.target.closest('form');
        let dataArr = form.getElementsByClassName('input-field');
        for (let data of dataArr) {
            data.removeAttribute('disabled');
        }

        let submitButton = form.querySelector('.submit-button');
        submitButton.removeAttribute('disabled');

        let changeButton = form.querySelector('.change-button');
        changeButton.setAttribute('disabled', 'true');

    }

    selector = document.getElementsByClassName("selector-client");
    for (const selectedSelector of selector) {
        selectedSelector.addEventListener("change", () =>{
            const selectedInSelector = selectedSelector.options[selectedSelector.selectedIndex];
            let empDepId = selectedInSelector.parentElement.parentElement.querySelector(".hidden-value-client");
            console.log(empDepId);
            console.log(empDepId.value);
            empDepId.value = selectedInSelector.value;

            if (!selectedSelector.options[selectedSelector.selectedIndex].selected){
                selectedSelector.options[selectedSelector.selectedIndex].selected = true;
            }
        });
    }
    selector = document.getElementsByClassName("selector-employee");
    for (const selectedSelector of selector) {
        selectedSelector.addEventListener("change", () =>{
            const selectedInSelector = selectedSelector.options[selectedSelector.selectedIndex];
            let empDepId = selectedInSelector.parentElement.parentElement.querySelector(".hidden-value-employee");
            console.log(empDepId);
            console.log(empDepId.value);
            empDepId.value = selectedInSelector.value;

            if (!selectedSelector.options[selectedSelector.selectedIndex].selected){
                selectedSelector.options[selectedSelector.selectedIndex].selected = true;
            }
        });
    }

</script>
</html>