<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Исследования</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
</head>
<body>
<div th:insert="~{fragments/general/header :: header}"></div>
<div class="search-bar" th:insert="~{fragments/general/searchbar}"></div>
<h1>Список исследований</h1>
<div class="add-entity"><a class="btn" onclick="openAddForm()">Добавить исследование</a></div>
<div class="table-header">
    <h2>ID</h2>
    <h2>ID Типа исследования</h2>
    <h2>ID Протокола</h2>
    <h2>Дата проведения</h2>
    <h2>ID заявки на исследование</h2>
</div>
<th:block th:each="research : ${researches}">
    <form class="table-row" th:id="'research-form-' + ${research.id}" th:action="@{/researches/editResearch/{id}(id=${research.id})}" method="post">
        <div class="id" th:text="${research.id}"></div>
        <input type="text" readonly="true" required name="typeId"  class="input-field" th:value="${research.typeId}">
        <input type="text" readonly="true" required name="protId" class="input-field" th:value="${research.protId}">
        <input type="date" readonly="true" required name="date" class="input-field" th:value="${research.date}">
        <input type="text" readonly="true" required name="requestId" class="input-field" th:value="${research.requestId}">
        <div class="actions">
            <button type="button" class="btn change-button" onclick="enableEditForm(event)" th:text="Изменить"></button>
            <button type="submit" disabled class="btn submit-button" th:text="Сохранить"></button>
            <button formmethod="get" th:formaction="@{/researches/deleteResearch/{id}(id=${research.id})}" type="submit"
                    class="btn">Удалить
            </button>
        </div>
    </form>

</th:block>

<div id="add-research-form" class="form-popup-wrapper"
     th:insert="~{fragments/pop-ups/add-research-popup}"></div>

</body>
<script type="text/javascript">
    function openAddForm() {
        document.getElementById("add-research-form").style.display = "block";
    }
    function enableEditForm(event){
        let form = event.target.closest('form');
        let dataArr = form.getElementsByClassName('input-field');
        for (let data of dataArr) {
            data.removeAttribute('readonly');
        }

        let submitButton = form.querySelector('.submit-button');
        submitButton.removeAttribute('disabled');

        let changeButton = form.querySelector('.change-button');
        changeButton.setAttribute('disabled', 'true');

    }

</script>
</html>