<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Типы исследований</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
</head>
<body>
<div th:insert="~{fragments/general/header :: header}"></div>
<div class="search-bar" th:insert="~{fragments/general/searchbar}"></div>
<h1>Список типов исследований</h1>
<div class="add-entity"><a class="btn" onclick="openAddForm()">Добавить тип исследования</a></div>
<div class="table-header">
    <h2>ID</h2>
    <h2>Тип ислледования</h2>
    <h2>Отдел</h2>
</div>
<th:block th:each="researchType : ${researchTypes}">
    <form class="table-row" th:id="'research-type-form-' + ${researchType.id}" th:action="@{/research-types/editResearchType/{id}(id=${researchType.id})}" method="post">
        <div class="id" th:text="${researchType.id}"></div>
        <input type="text" disabled required name="type"  class="input-field" th:value="${researchType.type}">
        <input type="text" hidden required name="departmentId" class="input-field hidden-value-departmentId" th:value="${researchType.departmentId}">
        <select class="input-field custom-select selector"  disabled >
            <th:block  th:each="department : ${departments}" >
                <option th:selected="${department.id == researchType.departmentId}? 'true' : 'false'" th:value="${department.id}" th:text="${department.id} +': '+ ${department.name}"></option>
            </th:block>
        </select>
        <div class="actions">
            <button type="button" class="btn change-button" onclick="enableEditForm(event)" th:text="Изменить"></button>
            <button type="submit" disabled class="btn submit-button" th:text="Сохранить"></button>
            <button formmethod="get" th:formaction="@{/research-types/deleteResearchType/{id}(id=${researchType.id})}" type="submit"
                    class="btn">Удалить
            </button>
        </div>
    </form>

</th:block>

<div id="add-research-type-form" class="form-popup-wrapper"
     th:insert="~{fragments/pop-ups/add-research-type-popup}"></div>

</body>
<script type="text/javascript">
    function openAddForm() {
        document.getElementById("add-research-type-form").style.display = "block";
    }
    function enableEditForm(event){
        let form = event.target.closest('form');
        let dataArr = form.getElementsByClassName('input-field');
        for (let data of dataArr) {
            data.removeAttribute('disabled');
        }

        let submitButton = form.querySelector('.submit-button');
        submitButton.removeAttribute('disabled');

        let changeButton = form.querySelector('.change-button');
        changeButton.setAttribute('disabled', 'true');

    }

    selector = document.getElementsByClassName("selector");
    for (const selectedSelector of selector) {
        selectedSelector.addEventListener("change", () =>{
            const selectedInSelector = selectedSelector.options[selectedSelector.selectedIndex];
            let empDepId = selectedInSelector.parentElement.parentElement.querySelector(".hidden-value-departmentId");
            console.log(empDepId);
            console.log(empDepId.value);
            empDepId.value = selectedInSelector.value;

            if (!selectedSelector.options[selectedSelector.selectedIndex].selected){
                selectedSelector.options[selectedSelector.selectedIndex].selected = true;
            }
        });
    }

</script>
</html>