<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Образцы</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
</head>
<body>
<div th:insert="~{fragments/general/header :: header}"></div>
<div class="search-bar" th:insert="~{fragments/general/searchbar}"></div>
<h1>Список образцов</h1>
<div class="add-entity"><a class="btn" onclick="openAddForm()">Добавить образец</a></div>
<div class="table-header">
    <h2>ID</h2>
    <h2>Тип образца</h2>
    <h2>Наименование</h2>
    <h2>Количество</h2>
</div>
<th:block th:each="sample : ${samples}" >
    <form class="table-row" th:id="'sample-form-' + ${sample.id}" th:action="@{/samples/editSample/{id}(id=${sample.id})}" method="post">
        <div class="id" th:text="${sample.id}"></div>
        <input type="text" readonly="true" required name="type"  class="input-field" th:value="${sample.type}">
        <input type="text" readonly="true" required name="name" class="input-field" th:value="${sample.name}">
        <input type="text" readonly="true" required name="amount" class="input-field" th:value="${sample.amount}">
        <div class="actions">
            <button type="button" class="btn change-button" onclick="enableEditForm(event)" th:text="Изменить"></button>
            <button type="submit" disabled class="btn submit-button" th:text="Сохранить"></button>
            <button formmethod="get" th:formaction="@{/samples/deleteSample/{id}(id=${sample.id})}" type="submit"
                    class="btn">Удалить
            </button>
        </div>
    </form>

</th:block>

<div id="add-sample-form" class="form-popup-wrapper"
     th:insert="~{fragments/pop-ups/add-sample-popup}"></div>

</body>
<script type="text/javascript">
    function openAddForm() {
        document.getElementById("add-sample-form").style.display = "block";
    }
    function enableEditForm(event){
        let form = event.target.closest('form');
        let dataArr = form.getElementsByClassName('input-field');
        for (let data of dataArr) {
            data.removeAttribute('readonly');
        }

        let submitButton = form.querySelector('.submit-button');
        submitButton.removeAttribute('disabled');

        let changeButton = form.querySelector('.change-button');
        changeButton.setAttribute('disabled', 'true');

    }

</script>
</html>